<% provide(:title, 'Two-Factor Authentication') %>
<h1>Two-Factor Authentication Code</h1>
<p>Your code for two-factor authentication is: <%= @auth_code%></p>

<p>Enter this code in the application to complete the login process.</p>